<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Prediction</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet" />
</head>

<body>
    <main class="h-screen w-full flex flex-col justify-center items-center bg-[#4298B4]">
        <h1 class="text-9xl font-extrabold text-white tracking-widest">{{code}}</h1>
        <div class="bg-black text-white px-2 text-sm rounded rotate-12 absolute">
            {{text}}
        </div>
        <button class="mt-5">
            <a href="\"
                class="relative inline-block text-sm font-medium text-black group active:text-white focus:outline-none focus:ring">
                <span
                    class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-black group-hover:translate-y-0 group-hover:translate-x-0"></span>

                <span class="relative block px-8 py-3 bg-[#4298B4] border border-current">
                    <p class="text-white">Go Home</p>
                </span>
            </a>
        </button>
    </main>
</body>

</html>