{% extends 'base.html' %}
{% block main %}
<div class="w-full flex flex-row justify-center">

    <div class="w-3/4 mt-16 mb-16 sm:text-lg">
        <h1 class="text-3xl md:text-5xl font-[Montserrat] font-black">What Are the Big 5 Personality Traits?</h1>
        <h3 class="text-md md:text-2xl font-[Montserrat] font-semibold">
            You might be Extraverted, Serious, Responsible, Lively or Dependable
        </h3>

        <br>
        <p>Trait theories of personality have long attempted to pin down exactly how many traits exist. Earlier theories
            have suggested various numbers. For instance, Gordon Allport's list contained 4,000 personality traits,
            Raymond Cattell had 16 personality factors, and Hans Eysenck offered a three-factor theory.

            Many researchers felt that Cattell's theory was too complicated and Eysenck's was too limited in scope. As a
            result, the Big 5 personality traits emerged and are used to describe the broad traits that serve as
            building blocks of personality.
        </p>

        <br>
        <p>
            Many contemporary personality psychologists believe that there are five basic dimensions of personality,
            often referred to as the "Big 5" personality traits. These five primary personality traits based on which
            you are judged - extraversion (also often spelled extroversion), agreeableness, openness, conscientiousness,
            and neuroticism.

        </p>

        <br>
        <p>

            Extraversion is sociability, agreeableness is kindness, openness is creativity and intrigue,
            conscientiousness is thoughtfulness, and neuroticism often involves sadness or emotional instability.

        </p>

        <br>
        <p>
            It is important to note that each of the five primary personality traits represents a range between two
            extremes. For example, extraversion represents a continuum between extreme extraversion and extreme
            introversion. In the real world, most people lie somewhere in between.

            While there is a significant body of literature supporting these primary personality traits, researchers
            don't always agree on the exact labels for each dimension.
        </p>

        <br>
        <p>
            <b>Openness</b> <br>
            Openness (also referred to as openness to experience) emphasizes imagination and insight the most out of all
            five personality traits. People who are high in openness tend to have a broad range of interests. They are
            curious about the world and other people and are eager to learn new things and enjoy new experiences.

            People who are high in this personality trait also tend to be more adventurous and creative. Conversely,
            people low in this personality trait are often much more traditional and may struggle with abstract
            thinking.
        </p>

        <br>
        <p>
            <b>Conscientiousness</b> <br>
            Among each of the personality traits, conscientiousness is one defined by high levels of thoughtfulness,
            good impulse control, and goal-directed behaviors. Highly conscientious people tend to be organized and
            mindful of details. They plan ahead, think about how their behavior affects others, and are mindful of
            deadlines.

            Someone scoring lower in this primary personality trait is less structured and less organized. They may
            procrastinate to get things done, sometimes missing deadlines completely.
        </p>

        <br>
        <p>
            <b>Extraversion</b> <br>
            Extraversion (or extroversion) is a personality trait characterized by excitability, sociability,
            talkativeness, assertiveness, and high amounts of emotional expressiveness. People high in extraversion are
            outgoing and tend to gain energy in social situations. Being around others helps them feel energized and
            excited.

            People who are low in this personality trait or introverted tend to be more reserved. They have less energy
            to expend in social settings and social events can feel draining. Introverts often require a period of
            solitude and quiet in order to "recharge."
        </p>

        <br>
        <p>
            <b>Agreeableness</b> <br>
            This personality trait includes attributes such as trust, altruism, kindness, affection, and other prosocial
            behaviors. People who are high in agreeableness tend to be more cooperative while those low in this
            personality trait tend to be more competitive and sometimes even manipulative.
        </p>

        <br>
        <p>
            <b>Neuroticism</b> <br>
            Neuroticism is a personality trait characterized by sadness, moodiness, and emotional instability.
            Individuals who are high in neuroticism tend to experience mood swings, anxiety, irritability, and sadness.
            Those low in this personality trait tend to be more stable and emotionally resilient.
        </p>

        <h1 class="text-3xl md:text-5xl font-[Montserrat] font-black mt-8" id="results">Reading the Results</h1>

        <br>
        <p>
            If your result is <b>Extraverted</b>, it means that you are outgoing and
            energetic. You enjoy being around people and tend to be the life of the party. You may also be assertive and
            confident in social situations.
        </p>

        <br>
        <p>
            If your result is <b>Serious</b>, it means that you take your commitments
            seriously and are likely to be a hard worker. You are realistically aware of your own capabilities, but
            are also aware of your own limitations; you are not tempted by vanity or self-importance.
        </p>

        <br>
        <p>
            If your result is <b>Responsible</b>, it means that you can be counted on
            to follow through on your commitments and take care of responsibilities. You may also be organized and
            efficient in your work. Being responsible means being dependable, keeping promises and honoring the
            commitments. You accept the consequences for what you say and do.
        </p>

        <br>
        <p>
            If your result is <b>Lively</b>, it means that you are energetic and enthusiastic. You enjoy being active
            and may
            be full of ideas and energy. You may also be spontaneous and enjoy trying new things.
        </p>

        <br>
        <p>
            If your result is <b>Dependable</b>, it means that you are reliable and trustworthy. You can also be counted
            on
            to follow through on your commitments and take care of responsibilities. You may also be organized and
            efficient in your work. A dependable person is someone who gives reliable service and is loyal and stable.
            The dependable person is someone you can count on in the workplace, at home, or even in the greater
            management field of governance and politics.
        </p>

        <br>
        <p>
            No matter what your result on the Big 5 Personality Prediction Test is, remember that personality is not
            fixed and can change over time. It's important to embrace your unique traits and use them to your advantage
            in life and work.
        </p>

        <a href="\#test" type="submit"
            class="my-5 shadow-xl bg-blue-400 hover:bg-blue-300 text-white font-bold py-2 px-4 border-b-4 border-blue-500 hover:border-blue-400 rounded">
            Take The Test
        </a>

    </div>



</div>
{% endblock %}